h1, h2, h3, p {
    text-align: center;
}
h1, h3 {
    font-family: arial;
    margin
}
body {
    background-image: url(https://img.freepik.com/free-vector/flat-design-terracotta-background_23-2149544734.jpg);
    padding: 50px;
    font-family: sans-serif;
} 
    
.header {
    letter-spacing: 5PX;
    width: 80%;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.title {
   font-style: italic;

}